@import "~src/includes/variables";
:host {
  display: block;
  overflow: hidden;
}

.under-construction {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
  }
  &__content {
    z-index: 1;
    width: 100%;
  }
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 700px;
    z-index: -1;
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
  }
  &__text {

    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .under-construction {
    &__title {
      font-size: 50px;
    }
  }
}

@media (min-width: 1200px) {
  .under-construction {
    text-align: left;
    color: $gray-base;
    &:before {
      opacity: 0;
    }
    &__img {
      width: 40vw;
    }
    &__text{
      max-width: 600px;
    }
    &__title {
      color: #000;
    }
  }
}

* + .under-construction__text {
  margin-top: 15px;
}
