<mat-toolbar color="primary">
  <mat-icon *ngIf="authService.isLoggedIn" aria-hidden="false" class="menu-icon" (click)="onMenuChange()">menu</mat-icon>
  <a class="link link--default link--logo" [routerLink]="['/dashboard/forms']">SHE Requests App</a>
  <span style="flex: 1 1 auto"></span>
  <app-user
    [currentUser]="currentUser$"
    (onClick)="onLogout()"
  ></app-user>
</mat-toolbar>
