@import "~src/includes/variables";
@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Proxima Nova'
);
@include mat-core($custom-typography);


// Material
.mat-drawer-container {
  height: 100%;
}


.mat-card-title {
  line-height: 1.2em;
  font-size: 20px;
  font-weight: 600;
  color: $gray-specific;
}

.mat-toolbar.mat-primary {
  background: $primary;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1);
}

.mat-drawer-inner-container {
  box-shadow: 4px 0 16px rgba(16, 30, 115, 0.08);
}

mat-radio-group {
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: -5px;

  & > mat-radio-button {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
}

.radio-button__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -5px;
  margin-left: -5px;

  & > * {
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

.mat-horizontal-stepper-header {
  pointer-events: none;
}

.mat-table {
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-right: 6px;
    padding-left: 6px;
  }
}


.field-wrapper-custom {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  &.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }


  .mat-form-field-subscript-wrapper {
    top: calc(100% - 0.391667em);
  }

}

.field-wrapper-specific {

  div.mat-form-field-outline-start{
    border-color: none !important;
    border-width: 0px !important;
  }

  .mat-form-field-outline-gap{
    border-color: none !important;
    border-width: 0px !important;
  }

  .mat-form-field-outline-end{
    border-color: none !important;
    border-width: 0px !important;
  }

  .mat-form-field-flex {
    align-items: center;
  }

  &.mat-form-field-appearance-outline  {
    .mat-form-field-flex {
      padding-left: 0;
      padding-right: 0;
    }
    .mat-form-field-infix {
      padding: 0;
    }
    .mat-form-field-subscript-wrapper {
      padding: 0;
    }
    .mat-form-field-suffix {
      padding-left: 10px;
    }
  }
}

html {
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 24px;
  }

  .mat-card {
    border-radius: 8px;
  }

  .mat-card--filters {
    .mat-card > :last-child:not(.mat-card-footer), .mat-card-content > :last-child:not(.mat-card-footer) {
      margin-bottom: 10px;
    }
  }

  .mat-table {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
  }

  .mat-list-base {
    padding-top: 16px;
  }


  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0 24px;
  }

  .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: $accent;
  }

  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.089em;
  }

  .mat-step-header .mat-step-icon {
    background-color: $gray-classic;
  }

  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: $primary;
    font-weight: 600;
  }

  .mat-step-header .mat-step-label.mat-step-label-selected {
    font-weight: 600;
    color: $gray-specific;
  }

  .mat-step-header .mat-step-label {
    display: none;
  }

  .mat-stepper-horizontal {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .mat-horizontal-stepper-header-container {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  .mat-horizontal-content-container {
    padding: 16px;
  }


  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: $primary;
  }

  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: $secondary;
  }

  .mat-progress-bar-fill::after {
    background-color: $primary;
  }

  .mat-expansion-panel-header {
    font-size: 16px;
    color: $gray-specific;
  }

  .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgba($gray-specific, .54);
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 48px;
  }

  .action {
    .mat-expansion-panel-header.mat-expanded {
      margin-top: 8px;
    }
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  mat-expansion-panel + mat-expansion-panel {
    border-top: 1px solid rgba(0, 0, 0, .12);
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: $primary;
  }

  .mat-horizontal-stepper-header { height: 48px; }

  .mat-expansion-panel-body {
    padding: 0 24px 11px;
  }

  .action {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $primary;
  }

  .mat-drawer {
    background-image: url("../assets/bg-main-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }

  ngx-mat-file-input {
    padding-left: 44px;
  }

  .mat-form-field-suffix .mat-icon.action__icon--delete {
    font-size: 173%;
  }

  .mat-tab-label .mat-tab-label-content {
    text-transform: uppercase;
  }

  .mat-tab-label-active {
    color: $primary-angular;
    opacity: 1;
    font-weight: 600;
  }

  .mat-card--line {
    padding: 18px 16px 0;
    .mat-card-header-text { margin: 0; }
  }

  .example-expanded-row {
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      border-bottom: none;
    }
  }

  .mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
    margin-top: 0;
  }

  .mat-dialog-actions {
    justify-content: space-between;
  }

  textarea.mat-input-element {
    resize: none;
  }

  .mat-dialog-container {
    padding: 40px 30px;
  }

  .mat-dialog-actions {
    padding-bottom: 20px;
  }

  .mat-dialog-title {
    margin: 0 0 40px;
  }

  .mat-card-classic {
    padding: 22px 24px;
  }

  .mat-card-content {
    .row.row-16 {
      margin-bottom: -16px;

      & > [class*="col-"] {
        margin-bottom: 16px;
      }
    }
  }

  .mat-tab-label {
    font-size: 12px;
  }

  .mat-sort-header-content {
    text-align: left;
  }

  .mat-paginator-range-label {
    margin: 0 18px 0 18px;
  }

  .table-requests {
    .mat-cell, .mat-footer-cell {
      font-size: 12px;
    }
  }

  .mat-form-field-disabled-custom {
    input {
      color: rgba(0,0,0,.38);
    }
  };

}

@media (min-width: 576px) {
  html {
    .mat-tab-label {
      font-size: 14px;
    }

    .table-requests {
      .mat-cell, .mat-footer-cell {
        font-size: 14px;
      }
    }


    .mat-paginator-range-label {
      margin: 0 32px 0 24px;
    }

  }
}

@media (min-width: 768px) {
  html {

    .mat-card--line {
      padding: 18px 0 10px 24px;
    }

    .mat-card-classic {
      padding: 18px 24px;
    }

    .mat-horizontal-content-container { padding: 24px; }

    .mat-horizontal-stepper-header { height: 72px; }

    .mat-step-header .mat-step-label { display: inline-block; }

    .mat-drawer { background-image: none; }

    .action {
      .mat-expansion-panel-body {
        padding: 0 24px 11px;
      }
    }

  }
}

.mat-chip {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.089em;
  font-size: 10px;
  padding: 6px 12px;
}

html {
  .mat-icon__big {
    &.mat-form-field-appearance-outline {
      .mat-form-field-suffix {
        font-size: 16px;
        top: .28em;
      }
    }
  }
}

