// Offsets
html {
  * + h1 { margin-top: 15px; }

  @media (min-width: 768px) {
    * + h1 { margin-top: 53px; }
  }

  h5 + * { margin-top: 24px; }

  * + .offset-1 { margin-top: 15px; }

  .mb-0 {
    margin-bottom: 0;
  }

}

// Insets
.inset-custom-1 {
  padding: 61px 24px;
}
