@import "~src/includes/variables";

// Utilities
.text--italic {
  font-style: italic;
}

.text--regular {
  font-weight: 400;
}

.text--bold {
  font-weight: bold;
}

.text--semi-bold {
  font-weight: 600;
}

.text--right {
  text-align: right;
}

.text--primary {
  color: $primary;
}

.text--secondary {
  color: $secondary;
}

.text--gray-specific {
  color: $gray-specific;
}

.text--orange {
  color: $orange;
}

.position-relative {
  position: relative;
}

.display-block {
  display: block;
}

@media (min-width: 768px) {
  .display-md-none {
    display: none;
  }
}
