// Variables
$primary: #007CC5;
$secondary: #E30613;
$accent: #EC2F6B;
$teritary: #E57A16;
$primary-angular: #3f51b5;
$gray: #f1f5f8;
$gray-base: #777d83;
$gray-light: #52575C;
$dark-gray: #131516;
$success-main: #23AA28;
$gray-specific: #0E202F;
$gray-lightest: #D5DFE5;
$gray-classic: #C4C4C4;
$gray-medium: #7D868E;
$gray-modern: #E2E4E6;
$pink-light: #FCE1E3;
$orange: #ffd151;

