:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-logo {
  max-width: 180px;
  padding: 0 16px;
}

mat-sidenav-content {
  background-image: url("/assets/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
