<app-header (updateMenu)="onMenuUpdate()"></app-header>
<mat-sidenav-container>
  <mat-sidenav [permanentAt]="768"  #start [mode]="'side'" style="width: 250px" [opened]="isOpen" *ngIf="authService.isLoggedIn">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar
      *ngIf="notificationService.isLoading"
      style="margin-bottom: 20px"
      mode="query"
    ></mat-progress-bar>
    <router-outlet *ngIf="!notificationService.isLoading"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
