<form class="form-dynamic" [formGroup]="generalDetailsForm" (ngSubmit)="onSubmit()">
    <div class="row row-24 row-narrow">
        <div class="col-md-6">
            <mat-form-field appearance="outline"
                            class="field-wrapper-custom mat-form-field-disabled-custom mat-form-field-disabled">
                <mat-label>Driver</mat-label>
                <input formControlName="driver" matInput readonly>
                <mat-error>Driver is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-wrapper-custom">
                <mat-label>Branch name</mat-label>
                <mat-select formControlName="branchName">
                    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch}}</mat-option>
                </mat-select>
                <mat-error>Branch is required</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="field-wrapper-custom mat-form-field-disabled-custom mat-form-field-disabled">
                <mat-label>Inspection Date</mat-label>
                <input [matDatepicker]="inspectionDatePicker" formControlName="inspectionDate"
                       matInput [max]="maxDate" readonly>
                <mat-datepicker-toggle disabled [for]="inspectionDatePicker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #inspectionDatePicker></mat-datepicker>
                <mat-error>Inspection Date is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-wrapper-custom" style="width: 100%">
                <mat-label>Approver</mat-label>
                <input formControlName="approver" matInput>
                <mat-error>
                    <span class="validation-error" *ngIf="generalDetailsForm.get('approver').errors?.required">Approver is required</span>
                    <span class="validation-error" *ngIf="generalDetailsForm.get('approver').errors?.pattern">Please enter a valid RI or Rentokil email</span>
                    <span class="validation-error" *ngIf="generalDetailsForm.get('approver').errors?.restrictPersonalUserEmailValidator">You can't assign yourself as your own approver!</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class='col-md-12' *ngIf="isFormWithSupervisedInspection()">
            <mat-form-field appearance="outline" class="field-wrapper-custom">
                <mat-label>Supervised Inspection</mat-label>
                <mat-select formControlName="supervisedInspection">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 text--right">
            <button color="primary" mat-flat-button type="submit">
                Next
            </button>
        </div>
    </div>
</form>
