@import "~src/includes/variables";


.menu__link {
  color: rgba(0,0,0, .6);
  font-size: 14px;
  .mat-icon {
    color: $gray-classic;
    margin-bottom: 1px;
  }
}

.menu__link--active {
  color: $primary-angular;
  background-color: rgba($primary-angular, .06);
  font-weight: 600;
  .mat-icon {
    color: $primary-angular;
  }
}
