<mat-nav-list class="menu">
  <a mat-list-item *ngFor="let link of links" class="menu__link" [routerLink]="link.route"
     routerLinkActive="menu__link--active">
    <mat-icon style="margin-right: 30px">{{ link.icon }}</mat-icon>
    {{ link.title | titlecase }}
  </a>
</mat-nav-list>
