<div class="container container--xl">
  <div class="row">
    <div class="col-12">
      <h5>Requests</h5>
      <div>
        <app-request-filters
                *ngIf="showFilters"
                (newFilters)="onNewFilters($event)"
        >
        </app-request-filters>
        <div class="mat-elevation-z3 table-wrapper">

          <table class="table-responsive table-requests" mat-table [dataSource]="dataSource" matSortActive="createdOn" matSortDirection="desc" matSort>
            <!-- Date Column -->
            <ng-container matColumnDef="createdOn">
              <th class="column-date column-date-head" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
              <td class="column column-date" mat-cell *matCellDef="let request"> {{ request.createdOn | localDate }}</td>
            </ng-container>
            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th class="column-status column-status-head" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td class="column column-status color color--primary" mat-cell
                  *matCellDef="let request"
                  [ngClass]="{'color--success': request.status === 'Approved', 'color--secondary' : request.status === 'Declined' }">
                {{ request?.status }}
              </td>
            </ng-container>
            <!-- Owner Column -->
            <ng-container matColumnDef="owner">
              <th class="column-owner column-owner-head" mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
              <td class="column column-owner" mat-cell *matCellDef="let request"> {{ request.owner }}</td>
            </ng-container>
            <!-- Approver Column -->
            <ng-container matColumnDef="approver">
              <th class="column-approver column-approver-head" mat-header-cell *matHeaderCellDef mat-sort-header>Approver</th>
              <td class="column column-approver" mat-cell *matCellDef="let request"> {{ request.approver }}</td>
            </ng-container>
            <!-- Branch Column -->
            <ng-container matColumnDef="branchName">
              <th class="column-branch column-branch-head" mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
              <td class="column column-branch" mat-cell *matCellDef="let request"> {{ request.branchName }}</td>
            </ng-container>
            <!-- Division Column -->
            <ng-container matColumnDef="division">
              <th class="column-division column-division-head" mat-header-cell *matHeaderCellDef mat-sort-header>Division</th>
              <td class="column column-division" mat-cell *matCellDef="let request"> {{ request.division | titlecase }}</td>
            </ng-container>
            <ng-container matColumnDef="formType">
              <th class="column-type column-type-head" mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
              <td class="column column-type" mat-cell *matCellDef="let request"> {{ request.formType }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[ row.id ]"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="primary"></mat-progress-bar>
    </div>
  </div>
</div>
