@import "../../../../../includes/variables";

table {
  width: 100%;
}

.mat-row {
  cursor: pointer;
  transition: .3s all linear;
}

.mat-row:hover {
  background-color: rgba($primary, .1);
}

.column {
  overflow: hidden;
  text-overflow: ellipsis;
  &-date {
    width: 30%;
  }
  &-status {
    width: 25%;
  }
  &-owner {
    display: none;
  }
  &-approver {
    width: 45%;
  }
  &-branch {
    display: none;
  }

  &-division {
    display: none;
  }

  &-type {
    display: none;
  }

}

@media (min-width: 576px) {
  .column {
    &-date {
      width: 25%;
    }
    &-status {
      width: 15%;
    }

    &-approver {
      width: 40%;
    }
    &-branch {
      width: 20%;
      display: table-cell;
    }
  }
}

@media (min-width: 768px) {
  .column {
    &-date {
      width: 20%;
    }
    &-status {
      width: 15%;
    }

    &-approver {
      width: 30%;
    }
    &-branch {
      width: 15%;
    }

    &-division {
      width: 20%;
      display: table-cell;
    }
  }
}

@media (min-width: 992px) {
  .column {
    &-date {
      width: 15%;
    }
    &-status {
      width: 10%;
    }
    &-owner {
      width: 25%;
      display: table-cell;
    }
    &-approver {
      width: 25%;
    }
    &-branch {
      width: 10%;
    }

    &-division {
      width: 15%;
    }
  }
}


@media (min-width: 1200px) {
 .column {
   &-date {
     width: 13%;
   }
   &-status {
     width: 10%;
   }
   &-owner {
     width: 23%;
   }
   &-approver {
     width: 20%;
   }
   &-branch {
     width: 10%;
   }

   &-division {
     width: 10%;
   }

   &-type {
     display: table-cell;
     width: 14%;

   }
 }
}


.button--temp {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
