@import "~src/includes/variables";


:host {
  padding: 30px 9px 24px;
  display: block;
}

table {
  width: 100%;
}


tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
}




.card-content__text {
  overflow: hidden;
  text-overflow: ellipsis;
}


.row-expandable {
  cursor: pointer;
  transition: .3s all linear;
  &:hover {
    background-color: rgba($primary, .1);
  }
}


.column {
  &-approver {
    display: none;
  }
  &-expand {
    width: 20%;
  }
  &-date {
    width: 40%;
  }
  &-status {
    width: 40%;
  }
  &-branch {
    display: none;
  }
}

@media (min-width: 768px) {
  .column {
    &-approver {
      display: table-cell;
      width: 50%;
    }
    &-status {
      width: 15%;
    }
    &-date {
      width: 25%;
    }
    &-expand {
      width: 10%;
    }
  }
}

@media (min-width: 992px) {
  .column {
    &-branch {
      display: table-cell;
      width: 15%;
    }
    &-approver {
      width: 40%;
    }
  }
}
