<div class="container container--xl">
  <h5>Critical Actions List</h5>
  <div class="row row-16">
    <div class="col-12" >
      <app-critical-actions-filters
        (newFilters)="onNewFilters($event)"
      >
      </app-critical-actions-filters>
    </div>
    <div class="col-12">
      <div class="mat-elevation-z3 table-wrapper">
        <table
          class="table-responsive"
          mat-table
          matSortActive="createdOn"
          matSortDirection="desc"
          matSort
          [dataSource]="dataSource"
          multiTemplateDataRows>
          <ng-container matColumnDef="createdOn">
            <th class="column-date column-date-head" mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
            <td class="column-date" mat-cell *matCellDef="let element">{{element?.createdOn | localDate}}</td>
          </ng-container>
          <ng-container matColumnDef="approver">
            <th class="column-approver column-approver-head" mat-header-cell *matHeaderCellDef mat-sort-header>
              Approver
            </th>
            <td class="column-approver" mat-cell *matCellDef="let element">{{element.approver}}</td>
          </ng-container>
          <ng-container matColumnDef="branchName">
            <th class="column-branch column-branch-head" mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
            <td class="column-branch" mat-cell *matCellDef="let element">{{element.branchName}}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th
              class="column-status column-status-head"
              mat-header-cell *matHeaderCellDef mat-sort-header>Status
            </th>
            <td
              class="column-status"
              mat-cell
              *matCellDef="let element"
              [ngClass]="{'color--primary': element.status === 'Open', 'color--success' : element.status === 'Resolved', 'color--teritary' : element.status === 'In Progress', 'color--primary-old' : element.status === 'Duplicate' }">
              {{element.status}}
            </td>
          </ng-container>
          <ng-container matColumnDef="expand">
            <th class="column-expand column-expand-head" mat-header-cell *matHeaderCellDef></th>
            <td class="column-expand" mat-cell *matCellDef="let element">
              <mat-icon>{{expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <app-critical-actions-expandable
                  [actionData]="element"
                ></app-critical-actions-expandable>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="row-expandable"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="primary"></mat-progress-bar>
    </div>
  </div>
</div>
