.forms-select {
  padding: 31px 0;
}



.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  button {  align-self:  flex-start}

}

.mat-card-subtitle {
  margin-bottom: 42px;
}

@media (min-width: 768px) {
  .forms-select {
    padding: 31px 24px;
  }
}
