<div class="forms-select" *ngIf="authService.currentUser">
  <div class="container container--lg">
    <h5>Forms Quick-Select <span class=text--capitalize>({{countryName}})</span></h5>
    <div class="row row-16 row-md-24 row-narrow">
      <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let form of forms">
        <mat-card>
          <div>
            <mat-card-title>{{form.formType}}</mat-card-title>
            <mat-card-subtitle>Monthly Vehicle Safety Checklist</mat-card-subtitle>
          </div>
          <button mat-flat-button color="accent"
                  [routerLink]="['create', countryName?.toLowerCase(), form.formId]"
                  [disabled]="!authService.currentApprover">Select
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
