<section class="section section--md" *ngIf="currentForm$ | async as currentForm">
  <div class="container container--sm">
    <div class="row row-24">
      <div class="col-12">
        <h2 class="form-title">
          <a class="form-title__link" [routerLink]="['forms']">
            <mat-icon matSuffix>west</mat-icon>
            <span>{{currentForm.formType}} <span class="text--capitalize">({{countryName}})</span></span>
          </a>
        </h2>
      </div>
      <div class="col-12">
        <mat-horizontal-stepper #stepper>
          <mat-step label="General Details">
            <div>
              <app-form-general-details
                (generalDetailsEmitter)="handleGeneralDetails($event)"
                [formClass]="currentForm.formClass"
              ></app-form-general-details>
            </div>
          </mat-step>
          <mat-step label="Main Fields">
            <div class="row">
              <div class="col-12">
                <form-dynamic
                  [formConfig]="currentForm.config"
                  (mainFieldsEmitter)="handleMainFields($event)"
                  (goToGeneralDetailsStep)="goPrev()"
                ></form-dynamic>
              </div>
            </div>
          </mat-step >
          <mat-step label="Actions list">
            <app-form-actions-list
              [actionsList$]="actionsList$"
              (goToMainFieldsStep)="goPrev()"
              (actionsListEmitter)="handleSubmit($event)"
            ></app-form-actions-list>
          </mat-step>
        </mat-horizontal-stepper>
        <mat-progress-bar
          *ngIf="notificationService.isLoadingLocal"
          style="margin-bottom: 20px"
          mode="query"
        ></mat-progress-bar>
      </div>
    </div>
  </div>

</section>


