.form-title {
  font-size: 18px;
}

.form-title__link {
  color: #000;

  & > * {
    line-height: 1em;
    vertical-align: middle;
  }

  mat-icon {
    & + span { margin-left: 16px; }
  }

  &:hover {
    color: rgba(0,0,0, .7);
  }

}

@media (min-width: 768px) {
  .form-title {
    font-size: 24px;
  }
}
