@import "~src/includes/variables";


.action-expandable {
  padding: 10px 0 24px;

  &__top {
    display: flex;
    margin: 0 -13px -15px;
    flex-direction: column;

    & > * { margin: 0 13px 15px}
  }

  &__link {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    width: 100%;
  }

  &__request-link {
    align-self: center;
    width: 100%;
    text-align: center;
    button + button { margin-top: 7px;}
  }

  &__note {
    flex-grow: 1;
    color: $gray-specific;
    font-size: 16px;
  }

  &__issue {
    overflow: hidden;
  }

  &__comment {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__status {
    min-width: 120px;
  }

  &__branch-mobile, &__duration, &__approver-mobile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .card-content__header {
      min-width: 75px;
      padding-right: 20px;
      & + .card-content__text { margin-top: 0; }
    }
  }

  &__duration {
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 0 -10px;

    & > * { margin: 0 0 10px}
  }

}

::ng-deep {
  .suffix-offset .mat-form-field-suffix {
    margin-left: 10px;
  }
}

* + .action-expandable__request-link { margin-top: 15px; }
.action-expandable__request-link + * { margin-top: 15px; }

* + .action-expandable__bottom { margin-top: 16px; }

@media (min-width: 576px) {
  .action-expandable {
    &__bottom {
      flex-direction: row;
      margin: 0 -5px -10px;

      & > * { margin: 0 5px 10px}
    }
  }
}


@media (min-width: 768px) {
  .action-expandable {
    &__approver-mobile {
      display: none;
    }

  }
}

@media (min-width: 992px) {
  .action-expandable {
    &__branch-mobile {
      display: none;
    }
    &__duration {
      display: block;
    }
    &__top {
      flex-direction: row;
    }

    &__button {
      min-width: 155px;
      width: auto;
    }

    &__issue {
      width: 100%;
    }

    &__status {
      min-width: 220px;
    }

    &__request-link {
      text-align: right;
      padding: 0;
      border-top: none;
      border-bottom: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-right: -5px;
      margin-bottom: -5px;
      button + button { margin-top: 0;}
      & > * {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    &__branch-mobile, &__duration {
      .card-content__header {
        min-width: auto;
        padding-right: 0;
        & + .card-content__text { margin-top: 5px; }
      }
    }

    &__bottom {
      align-items: stretch;
      flex-wrap: nowrap;
    }

  }

  * + .action-expandable__request-link { margin-top: 0; }
  .action-expandable__request-link + * { margin-top: 0; }
}
