<div class="action-expandable">
    <div class="action-expandable__top">
        <a class="action-expandable__link" href="{{actionData.imageUrl || defaultImage}}" target="_blank">
            <img class="action-expandable__img" src="{{actionData.imageUrl || defaultImage}}"
                 alt="{{actionData.notes}}">
        </a>

        <div class="action-expandable__approver-mobile">
            <span class="card-content__header">Approver</span>
            <span class="card-content__text">{{actionData.approver}}</span>
        </div>

        <div class="action-expandable__branch-mobile">
            <span class="card-content__header">Branch</span>
            <span class="card-content__text">{{actionData.branchName}}</span>
        </div>

        <div class="action-expandable__duration">
            <span class="card-content__header">Duration</span>
            <span class="card-content__text">{{calculateDaysDuration(actionData?.createdOn)}}</span>
        </div>
        <div class="action-expandable__issue">
            <span class="card-content__header">Issue description</span>
            <p class="card-content__text">{{actionData.notes}}</p>
        </div>
        <div class="action-expandable__request-link">
            <button *ngIf="isYourRequest(actionData.approver)"
                    (click)="handleChangeApproverModal()"
                    mat-raised-button color="primary"
                    class="button button--expressed button--primary action-expandable__button">
                    Edit Approver
            </button>
            <button [routerLink]="['/dashboard/requests', actionData.requestId]" mat-button color="primary"
                    class="button--primary action-expandable__button">Go to request
            </button>
        </div>
    </div>
    <form *ngIf="isYourRequest(actionData.approver)" [formGroup]="criticalActionsForm" (ngSubmit)="onSubmit()"
          class="action-expandable__bottom">
        <mat-form-field appearance="outline" class="field-wrapper-custom action-expandable__comment">
            <mat-label>Note</mat-label>
            <input formControlName="criticalActionComment" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-wrapper-custom action-expandable__status">
            <mat-label>Status</mat-label>
            <mat-select formControlName="criticalActionStatus" (selectionChange)="isSelectedChanged()">
                <mat-option *ngFor="let status of criticalActionsStatuses" [value]="status">{{status}}</mat-option>
            </mat-select>
            <mat-error>Status is required</mat-error>
        </mat-form-field>
        <button [disabled]="!isEnabled"
                type="submit"
                class="button button--default button--big action-expandable__button"
                mat-raised-button color="primary">
            Submit
        </button>
    </form>
</div>
