<a
  *ngIf="actionData.imageUrl"
  href="{{actionData.imageUrl}}"
  target="_blank"
  class="compliant-answer__img-link">
  <img
    class="compliant-answer__img"
    src="{{actionData.imageUrl}}">
  <span class="compliant-answer__mobile-link">Image link</span>
</a>

<div
  *ngIf="!actionData.imageUrl"
  class="compliant-answer__img-link">
  <img
    class="compliant-answer__img"
    src="{{defaultImage}}">
  <span class="compliant-answer__mobile-link">No image</span>
</div>

<div class="compliant-answer__info">
  <p class="compliant-answer__comment">{{actionData.notes}}</p>
  <div class="compliant-answer__actions">
    <button *ngIf="!isInActionsList()" [disabled]="isDisabledState()" mat-button color="primary"
            class="button--primary compliant-answer__button" (click)="markAsDuplicate()">
      <mat-icon *ngIf="isDuplicate()">check</mat-icon>
      Duplicate
    </button>
    <button *ngIf="!isInActionsList()" [disabled]="isDisabledState()" mat-button color="primary"
            class="button--primary compliant-answer__button" (click)="markAsCritical()">
      Add to list
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/dashboard/critical-list', actionData?.criticalListId]"
       *ngIf="isInActionsList()">Go To Issue</a>
  </div>
</div>
