@import "~src/includes/variables";

:host {
  display: flex;
  flex-direction: column;

  &:last-of-type {
    .compliant-answer__info { border-bottom: none; }
  }
}

.compliant-answer {
  &__img-link {
    margin-bottom: 8px;
    color: $primary;
    font-size: 16px;
    align-self: flex-start;
  }
  &__img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    object-position: center;
    display: none;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__comment {
    flex-grow: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__comment { padding-bottom: 16px; }

  &__button {
    mat-icon {
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 14px;
      margin-right: 4px;
    }
  }

  &__actions {
    white-space: nowrap;
    border-top: 1px solid $gray-modern;
    border-bottom: 1px solid $gray-modern;
    padding: 8px 16px;
    margin-left: -16px;
    margin-right: -16px;
    display: flex;
    justify-content: center;
    & > * { width: 100% }

  }

  .compliant-answer__mobile-link {


  }

}

@media (min-width: 768px) {
  :host {
    flex-direction: row;
    align-items: stretch;
    margin: 0 -8px;
    & > * { margin: 0 8px }
  }

  .compliant-answer {
    &__info {
      align-items: center;
      flex-grow: 1;
      border-bottom: 1px solid $gray-modern;
      padding-right: 24px;
      overflow: hidden;
    }

    &__img {
      display: block;
    }

    &__mobile-link {
      display: none;
    }

    &__comment {
      padding-bottom: 8px;
    }

    &__img-link {

      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }
    &__actions {
      padding: 25px 0;
      margin-right: 10px;
      margin-left: 10px;
      border-bottom: none;
      border-top: none;
    }
  }

}

@media (min-width: 992px)  {
  .compliant-answer {
    &__img-link {
      margin-top: 10px;
    }
    &__info {
      flex-direction: row;
    }
  }
}
