<div>
  <form [formGroup]="actionsForm" (ngSubmit)="handleSubmitModal()">
    <mat-accordion multi *ngIf="isActionsListEmpty(actionsList); else allAnswersCompliant">
      <mat-expansion-panel [expanded]="true" class="action" *ngFor="let action of actionsList; let idx = index">
        <mat-expansion-panel-header
          class="action__header"
          *ngIf="action.category">
          <div class="action__top">
            <span>{{action.label}}</span>: <span class="text--semi-bold">{{action.value}}</span>
          </div>
          <div class="action__top">
            Category: <span class="text--semi-bold">{{action.category}}</span>
          </div>
        </mat-expansion-panel-header>
        <div class="action__fields" [formGroupName]="action.name">
          <div class="action__comment">
            <mat-form-field appearance="outline">
              <mat-label>Describe the problem:</mat-label>
              <input [formControlName]="'notes'" matInput>
              <mat-error>Comment is required</mat-error>
            </mat-form-field>
          </div>
          <div class="action__image">
            <mat-form-field appearance="outline">
              <mat-label>Image:</mat-label>
              <mat-icon *ngIf="!imageInput.empty" class="action__icon action__icon--image">image</mat-icon>
              <ngx-mat-file-input #imageInput formControlName="image" accept="image/*"
                                  placeholder="Basic legacy placeholder"></ngx-mat-file-input>
              <mat-icon *ngIf="imageInput.empty" matSuffix>folder</mat-icon>
              <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="imageInput.clear($event)">
                <mat-icon class="action__icon action__icon--delete">delete</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="row justify-content-between">
      <div class="col-6 col-md-4 col-4">
        <button color="primary" type="button" mat-flat-button (click)="emitPrev()" [disabled]="isButtonDisabled">
          Back
        </button>
      </div>
      <div class="col-6 col-md-4 text--right">
        <button color="primary" mat-flat-button type="submit" [disabled]="isButtonDisabled">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #allAnswersCompliant>
  <h2>
    All answers are compliant! Continue?
  </h2>
</ng-template>
