@import "../../../../../includes/variables";

* + .row { margin-top: 36px; }


.action {
  padding: 12px 0;

  .mat-expansion-panel-body {
    padding: 0 16px 11px;
  }

  &__top {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 3px;
    height: auto;
    min-height: 48px;
    ::ng-deep {
      .mat-content {
        flex-direction: column;
      }
    }
  }

  &__fields {
    display: flex;
    align-items: center;
    padding-top: 16px;
    flex-direction: column;

    .mat-form-field {
      width: 100%;
    }

    & > * {
      width: 100%;
    }
  }

  &__comment {
    flex-grow: 1;
    flex-shrink: 0;
  }



  &__image {
    mat-icon {
      color: rgba($gray-specific, .54);
      cursor: pointer;
    }
    .action__icon--image {
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      color: $secondary;
    }
  }

}

.action__top + .action__top { margin-top: 8px; }



@media (min-width: 768px) {
  .action {
    padding: 0;

    .mat-expansion-panel-body {
      padding: 0 24px 11px;
    }

    &__fields {
      flex-direction: row;
      margin: 0 -12px;
      & > * {
        margin: 0 12px;
        width: auto
      }
    }
    &__top {
      width: 50%;
      display: inline-block;
    }
    &__image {
      width: 288px;
    }
    &__header {
      padding: 0 24px;
      ::ng-deep {
        .mat-content {
          flex-direction: row;
        }
      }

    }
  }
  mat-expansion-panel {
    margin-left: -24px;
    margin-right: -24px;
  }

  .action__top + .action__top {
    margin-top: 0;
    padding-left: 15px;
  }

}



