<h2 mat-dialog-title>Please confirm the action</h2>

<mat-dialog-content>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button button button--default" (click)="onDismiss()">Close</button>
  <button class="mat-raised-button button button--default mat-primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
