@import "~src/includes/variables";

:host {
  display: block;
  border-radius: 8px;
}


.filters-form {

  ::ng-deep {
    .mat-form-field-wrapper { padding-bottom: 0; }
  }

  &__mobile-footer {
    text-align: center;
    margin-left: -24px;
    margin-right: -24px;
    padding: 6px 24px;
    margin-bottom: 0!important;
    border-top: 1px solid $gray-modern;
  }


  mat-form-field {
    font-size: 12px;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
  }

  &__content {
    padding: 0 24px;
    margin-bottom: 0;
    overflow: hidden;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;

    & > * {
      margin-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
    }


  }

  .button-wrapper {
    flex-grow: 1;
    margin-top: 5px;
    width: 100%;
    .button {
      width: 100%;
    }
  }

}

.mat-card--filters {
  padding: 0;
}


.field-container {
  max-width: 200px;

  & > * { width: 100% }
}

.mat-form-field-wrapper {
  padding-bottom: 1.14375em;
}

* + .filters-form__mobile-footer { margin-top: 15px; }

@media (min-width: 576px) {
  .filters-form {
    mat-form-field {
      min-width: 50%;
      width: 50%;
      flex-grow: 1;
    }
  }
}

@media (min-width: 768px) {
  .filters-form {
    mat-form-field {
      min-width: 33%;
      width: 33%;
    }
    &__header {
      padding: 8px 24px 6px;
      border-bottom: 1px solid $gray-modern;
    }
    &__content {
      padding: 16px 24px;
    }

    .button-wrapper {
      flex-grow: initial;
      margin-top: 0;
      width: auto;
      .button {
        width: auto;
      }
    }

  }
}

@media (min-width: 1200px) {
  .filters-form {
    mat-form-field {
      min-width: 25%;
      width: 25%;
    }
  }
}

@media (min-width: 1460px) {
  .filters-form {
    mat-form-field {
      min-width: 11%;
      width: 11%;
    }
  }
}
