<div class="container container--lg">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-6 col-lg-5">
      <div class="auth">
        <div class="auth__divider"></div>
       <div>
         <app-logo></app-logo>
         <h1 class="text text--bold">Protecting People.<br class="display-block display-md-none"> Enhancing Lives.</h1>
       </div>

       <div class="offset-1">
         <button class="button button--icon button--auth" (click)="onLogin()">
           <img src="assets/icons/google-icon.svg" class="button__img button__img--google">
           <span class="button__text">Sign in with Google</span>
         </button>
         <p class="auth__info">
           Please, sign in with your
           <span class="text text--primary"> @rentokil-initial.com</span>
           or
           <span class="text text--primary">@rentokil.com</span>
           account
         </p>
       </div>
        <app-copyright></app-copyright>
      </div>
    </div>
  </div>
</div>

<div class="box box--decor">
  <img src="assets/auth-img.jpg" class="box--decor__img">
</div>

