@import "~src/includes/variables";

:host {
  position: relative;
  min-height: 100vh;
  display: flex;
}


.auth {
  &__divider {
    display: block;
    width: 113px;
    height: 5px;
    background: $primary;
    & + * { margin-top: 52px; }
  }
  &__info {
    color: $gray-specific;
    font-size: 14px;
  }

}

* + .auth__info { margin-top: 42px; }

* + app-copyright { margin-top: 57px; }

app-logo + h1 {
  margin-top: 78px;
}

app-logo {
  max-width: 113px;
}


@media (min-width: 576px) {
  app-logo + h1 {
    margin-top: 198px;
  }
}

@media (min-width: 768px) {

  app-logo {
    max-width: 100%;
  }

  app-logo + h1 {
    margin-top: 53px;
  }
  .auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: flex-start;

    &__info {
      font-size: 16px;
    }
    &__button { padding: 14px 56px }
    &__divider {
      width: 240px;
      height: 8px;
      & + * { margin-top: 138px;}
    }
  }
  
  *  + .auth__button { margin-top: 152px; }
  
  * + app-copyright { margin-top: 130px; }
  
}

@media (min-width: 992px) {


}

@media (min-width: 1600px) {

}

// Boxes

.box--decor {
  position: absolute;
  right: 0;
  top: 0;
  height: 91vh;
  display: none;

  &:after {
    content: '';
    position: absolute;
    background: $primary;
    width: 75.9%;
    height: 9vh;
    display: block;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
  }
  &__img {
    width: 100%;
    height: 100%;
    object-position: top center;
    object-fit: cover;
  }

}


@media (min-width: 768px) {
  .box--decor {
    width: 50vw;
    display: block;
  }
}

@media (min-width: 1200px) {
  .box--decor {
    width: 42.71vw;
  }
}
