:host {
  display:block;
};

mat-expansion-panel {
  margin-left: -24px;
  margin-right: -24px;
}

.form-dynamic__content  {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  ::ng-deep {
    > * {
      width: 100%;
    }
  }

};

.form-dynamic__field {
  width: 25%;
}

.mat-card-title { margin-bottom: 16px; } ;

mat-accordion + * { margin-top: 36px; }

@media (min-width: 768px) {
  .form-dynamic__content {
    margin: 0 -12px;
    ::ng-deep {
      > * {
        width: calc(50% - 24px);
        margin: 0 12px;
      }
    }
  }
}

@media (min-width: 992px) {
  .form-dynamic__content {
    ::ng-deep {
      margin: 0 -12px -24px;
      > * {
        width: calc(25% - 24px);
        margin: 0 12px 24px;
      }
    }
  }
}
