<div *ngIf="!authService.currentApprover || !authService.currentCountry">
  <div class="container container--lg">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title class="mat-error">
            <h5>Please set these fields before starting a form:
              <span *ngIf="!authService.currentApprover">approver</span>
              <span *ngIf="!authService.currentApprover && !authService.currentCountry">, </span>
              <span *ngIf="!authService.currentCountry">country name</span>
            </h5>
          </mat-card-title>
          <mat-card-content>
            <p>All forms require an approver to be set before starting.</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="accent" [routerLink]="['/dashboard/profile']">My Profile</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-forms-quick-select *ngIf="authService.currentApprover && authService.currentCountry"></app-forms-quick-select>
