<div class="container container--md" *ngIf="_authService.currentUser$ | async as currentUser">
  <!-- Google Info Card -->
  <div class="user-media">
    <img [src]="currentUser.photoURL" alt="Profile Image" class="user-media__img">
    <h5 class="user-media__title">
      Hello, <span class="text--semi-bold"><span>{{this.currentUser?.displayName}}!</span></span>
    </h5>
    <p class="user-media__text">
      All data is retrieved from your Google account.
    </p>
  </div>
  <div class="row row-16">
    <div class="col-12">
      <ul class="user-list">
        <li class="user-list__item">
          <div class="user-list__line">
            <mat-icon>person</mat-icon>
            <span>{{this.currentUser?.displayName}}</span>
          </div>
          <span class="user-list__subtitle">Name</span>
        </li>
        <li class="user-list__item">
          <div class="user-list__line">
            <mat-icon>email</mat-icon>
            <span>{{this.currentUser?.email}}</span>
          </div>
          <span class="user-list__subtitle">Email</span>
        </li>
        <li class="user-list__item">
          <div class="user-list__line">
            <mat-icon>phone</mat-icon>
            <span>{{this.currentUser.phoneNumber ? this.currentUser.phoneNumber : 'Not Set'}}</span>
          </div>
          <span class="user-list__subtitle">Phone</span>
        </li>
        <li class="user-list__item">
          <a class="user-list__button" href="https://myaccount.google.com/personal-info" target="_blank">
            Update Google Account
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <!--  Request Preferences Card  -->
      <mat-card class="mat-card__user">
        <form [formGroup]="requestPrefsForm" (ngSubmit)="updateRequestPrefsForm()">
          <mat-card-header>
            <mat-card-title>Request Preferences</mat-card-title>
            <mat-card-subtitle>Applies to all checklists.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="field-wrapper-custom">
              <div class="row row-15 align-items-center">
                <div class="col-sm-6">
                  <mat-form-field class="field-wrapper-custom" appearance="outline" style="width: 100%">
                    <mat-label>Default Approver</mat-label>
                    <input matInput name="approver" formControlName="approver">
                    <mat-error>
                      <span class="validation-error" *ngIf="requestPrefsForm.get('approver').errors?.pattern">Please enter a valid RI or Rentokil email</span>
                      <span class="validation-error" *ngIf="requestPrefsForm.get('approver').errors?.restrictPersonalUserEmailValidator">You can't assign yourself as approver!</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Country Name</mat-label>
                    <mat-select formControlName="countryName" name="countryName">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button class="form-inline__button button button--profile" mat-flat-button color="primary" type="submit">Update</button>
            <!-- <field-button [disabled]="!requestsFormSubmit" class="form-inline__button field-button field-button--profile" mat-flat-field-button color="primary" type="submit">Update</field-button> -->
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
    <div class="col-12">
      <!--  Vehicle Preferences Card  -->
      <mat-card class="mat-card__user">
        <form [formGroup]="vehiclePrefsForm" (ngSubmit)="vehiclePrefsFormUpdate()">
          <mat-card-header>
            <mat-card-title>Vehicle Defaults</mat-card-title>
            <mat-card-subtitle>Applies to all vehicle checklists.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="field-wrapper-custom">
              <div class="row row-15 align-items-center">
                <div class="col-sm-6">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Vehicle Registration</mat-label>
                    <input formControlName="registration" matInput name="registration"
                           type="text">
                    <mat-error>
                      <span class="validation-error" *ngIf="vehiclePrefsForm.get('registration').errors?.pattern">Registration field can only consist from letters or numbers</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Make & Model</mat-label>
                    <input formControlName="makeAndModel" matInput name="makeAndModel"
                           type="text">
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type" name="type">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let type of vehicleTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Drivers Licence Expiry</mat-label>
                    <input [matDatepicker]="datePicker"
                           formControlName="licenceExpiry"
                           matInput name="licenceExpiry">
                    <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                  </mat-form-field>
                </div>

              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button class="button button--profile" type="submit" color="primary" mat-flat-button>Update</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
