@import "~src/includes/variables";


:host {
  display: block;
  padding: 24px 0 16px;
}


.card-content__header + span {
  display: block;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.mat-card {
  padding: 18px 24px;
  width: 100%;
}

.mat-card__user {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }
    .mat-card-header .mat-card-title {
      margin-bottom: 15px;
    }

    .mat-card-subtitle {
      margin-bottom: 27px;
    }

    .mat-card-content {
      margin-bottom: 10px;
    }

  }
}


.card-container--profile {
  ::ng-deep {
    .mat-card-header-text {
      margin: 0;
    }
  }
}


.user-media {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
  }
  &__text {
    font-size: 14px;
    letter-spacing: 0.0025em;
    color: rgba(#000, .54);
  }
  &__title {
    font-weight: 400;
  }
}

* + .user-media__title { margin-top: 20px; }
* + .user-media__text { margin-top: 5px; }

.user-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgba($gray-specific, .12);
  border-radius: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  &__item {
    font-size: 14px;
    color: $gray-specific;
    padding: 15px 19px;
    &:last-of-type {
      padding: 15px 19px;
      border-top: 1px solid $gray-modern;
      width: 100%;
      text-align: center;
    }
  }

  &__line {
    display: flex;
    align-items: center;
  }

  &__subtitle {
    display: block;
    padding-left: 36px;
    color: $gray-medium;
  }

  &__button {
    text-transform: uppercase;
    font-weight: 600;
    //font-size: 14px;
    color: $primary;
    &:hover {
      color: $gray-specific;
    }
  }

  mat-icon { color: $gray-medium }

  mat-icon + * { margin-left: 12px; }
}

.user-media + * { margin-top: 30px; }

* + .user-list { margin-top: 30px; }


@media (min-width: 768px) {

  :host {
    padding: 50px 0 35px;
  }

  .user-list {

  }

  .user-media + * { margin-top: 50px; }

}

@media (min-width: 992px) {
  .user-list {
    flex-direction: row;
    &__subtitle {
      display: none;
    }
    &__item {
      padding: 24px 19px;
    }

  }

}

@media (min-width: 1200px) {
  .user-list {
    padding: 24px;
    flex-direction: row;
    align-items: center;

    &__item {
      width: auto;
      padding: 0 6px;
      &:last-of-type {
        border: none;
        width: auto;
      }
    }
  }
}
