<h2 mat-dialog-title>Please enter the new approver</h2>

<form [formGroup]="approverForm">
    <mat-dialog-content>
        <mat-form-field class="field-wrapper-custom" appearance="outline" style="width: 100%">
            <mat-label>Request Approver</mat-label>
            <input matInput name="approver" formControlName="approver">
            <mat-error>
                <span class="validation-error" *ngIf="approverForm.get('approver').errors?.required">Approver is required</span>
                <span class="validation-error" *ngIf="approverForm.get('approver').errors?.pattern">Please enter a valid RI or Rentokil email</span>
                <span class="validation-error" *ngIf="approverForm.get('approver').errors?.restrictPersonalUserEmailValidator">You can't assign yourself as approver!</span>
            </mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button button button--default" (click)="onDismiss()">Close</button>
        <button class="mat-raised-button button button--default mat-primary" type="submit" (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>

</form>