@font-face {
  font-family: 'Proxima Nova';
  src: url("assets/fonts/proxima_nova_bold.woff2") format('woff2');
  src: url("assets/fonts/proxima_nova_bold.woff") format('woff');
  src: url("assets/fonts/proxima_nova_bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("assets/fonts/proxima_nova_regular.woff2") format('woff2');
  src: url("assets/fonts/proxima_nova_regular.woff") format('woff');
  src: url("assets/fonts/proxima_nova_regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_nova_semibold.woff2') format('woff2');
  src: url('assets/fonts/proxima_nova_semibold.woff') format('woff');
  src: url('assets/fonts/proxima_nova_semibold.ttf') format('truetype');
  font-weight: 600;
}
