@import "~src/includes/material-custom-theme";
@import "~src/includes/grid";
@import "~src/includes/utilities";
@import "~src/includes/offsets";
@import "~src/includes/variables";

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Proxima Nova, "Helvetica Neue", sans-serif;
  //overflow: hidden;
  line-height: 1.3em;
  color: $gray-base;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

a {
  transition: .33s all ease-in-out;
}

//Typography

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $gray-specific;
}

h1 {
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: -.02em;
}

h5 {
  font-size: 18px;
  line-height: 1.25em;
  font-weight: 600;
  letter-spacing: 0.0025em;
}

h6 {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: -.02em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h5 {
    font-size: 24px;
  }
}

h6 + * { margin-top: 18px;}

//Buttons

.button {
  transition: .33s all ease-in-out;
  cursor: pointer;
  background: unset;
  border: none;
}

.button__text {
  line-height: 1em;
}

.button__img {
  &--google {
    width: 20px;
  }
}

.button__img--google + * { margin-left: 15px; }

.button.button--big {
  padding: 8px 20px;
}

.button.button--wide {
  padding: 0 54px;
}

.button.button--profile {
  line-height: 51px;
  min-width: 132px;
  font-size: 14px;
  width: 100%;
}

.button--icon {
  display: flex;
  align-items: center;
}

.button--simple {
  background: none;
  padding: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.button.button--expressed {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.089em;
}

html {
  .mat-button.button--primary { color: $primary; }
}

.button--auth {
  position: relative;
  border: 1px solid $gray-lightest;
  font-size: 16px;
  letter-spacing: -.02em;
  color: #70787D;
  padding: 12px 56px;
  width: 100%;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    opacity: 0;
    transform: scale(.6);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#DCDCDC, .4);
    z-index: -1;
    transition: .3s all linear;
  }

  &:hover {
    &:before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

* + .button--auth { margin-top: 57px; }

.button--gray {
  background: $gray;

  &:hover {
    background: darken($gray, 5);
  }
}

.buttons-container {
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;

  & > button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &--right {
    justify-content: flex-end;
  }

  &--center {
    justify-content: center;
  }

}

.buttons-container + * { margin-top: 30px; }

.button.button--default {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.089em;
  box-shadow: none;
}

.page-wrapper {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 576px) {

  .button.button--profile {
    width: auto;
  }

  .button--auth {
    width: auto;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {

  .button--auth {
    padding: 14px 56px;
  }

  .button__img {
    &--google {
      width: 25px;
    }
  }

  //.field-button--auth {
  //  padding: 14px 56px;
  //}

  .buttons-container--lg-right {
    justify-content: flex-end;
  }


  * + .button--auth { margin-top: 125px; }
}


html {

  .actions-button {
    display: block;
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;

    &__text {
      position: absolute;
      transition: .33s all ease-in-out;
      opacity: 0;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      font-weight: 600;
      color: $gray-specific;
      text-transform: uppercase;
    }
    &--approve {
      background: $primary;
      color: #fff;
      &:hover {
        background: rgba($primary, .8);
      }
    }
    &--decline {
      color: $secondary;
      &:hover {
        background:$secondary;
        color: #fff;
      }
    }

    &:hover {
      .actions-button__text {
        opacity: 1;
        transform: translate(-130%, -50%);
      }
    }

  }

  .actions-button + .actions-button { margin-top: 16px; }
}

// Link styles

.link--default {
  text-decoration: none;

  .mat-primary & { color: #fff }
}

.link--logo {
  display: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.02em;
  @media (min-width: 768px) {
    display: block;
  }
}

.text-decorative {
  font-style: italic;
  color: lighten($dark-gray, 20);
}

.fullwidth {
  width: 100%;
}

// Sections
.section {
  &--md {
    padding: 33px 0;
  }
}

.validation-error {
  display: block;
}

// Colors
.color {
  &--primary {
    color: $primary;
  }

  &--success {
    color: $success-main;
  }

  &--secondary {
    color: $secondary;
  }

  &--teritary {
    color: $teritary;
  }

  &--primary-old {
    color: $primary-angular;
  }

}


// Forms
.form-inline {
  display: flex;
  flex-direction: column;
}

button.form-inline__button {
  min-width: 90px;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .form-inline {
    align-items: stretch;
    flex-direction: row;
  }
  button.form-inline__button {
    margin-left: 23px;
    margin-top: 0;
  }
}

.card-content__header {
  display: block;
  color: $gray-medium;
  letter-spacing: 0.15px;
}

.card-content__text {
  display: block;
  font-size: 16px;
  line-height: 1em;
}

.card-content__header + .card-content__text { margin-top: 5px; }

.filename {
  white-space: nowrap;
}

.table-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

* + .table-wrapper { margin-top: 16px; }

.mobile-hide {
  display: none!important;
}

.mobile-show {

}

@media (min-width: 768px) {
  .mobile-hide {
    display: block!important;
  }
  .mobile-show {
    display: none;
  }
}


.table-responsive {
  table-layout: fixed;
  thead { text-align: left }
}

.text--capitalize {
  text-transform: capitalize;
}

.icon--primary {
  color: $primary;

  mat-icon {
    color: $primary;
  }
}

.icon--secondary {
  color: $secondary;
  mat-icon {
    color: $secondary;
  }
}

.modal--approver {
  max-width: 85vw!important;
  justify-content: center;
  .mat-dialog-container {
    min-width: 300px;
    padding: 30px 15px;
    overflow: hidden;
  }

  .mat-dialog-title {
    margin: 0 0 8px;
  }

  .mat-dialog-actions {
    padding-top: 8px;
  }

  .mat-dialog-content {
    padding: 25px 24px;
  }
}

@media (min-width:576px) {
  .modal--approver {
    max-width: 80vw!important;
    .mat-dialog-container {
      min-width: 450px;
      padding: 40px 30px;
      overflow: auto;
    }
  }

}

@media (min-width: 768px) {
  .modal--approver {
    .mat-dialog-container {
      min-width: 500px;
      width: auto;
    }
  }
}
