<mat-card class="mat-card--filters mat-elevation-z3">
    <form [formGroup]="filtersForm" class="filters-form" (ngSubmit)="onApplyFilters()">
        <div class="filters-form__header">
            <h6>Filters</h6>
            <button color="primary" type="button" class="button button--primary mobile-hide" mat-button
                    (click)="resetFilters()">Clear Filters
            </button>
            <div class="filters-form__mobile-expand mobile-show">
                <button type="button" class="button--simple" (click)="toggle()">
                    <mat-icon *ngIf="!collapsed">keyboard_arrow_up</mat-icon>
                    <mat-icon *ngIf="collapsed">keyboard_arrow_down</mat-icon>
                </button>
            </div>
        </div>
        <mat-card-content class="filters-form__content" [@collapse]="collapsed">
            <div class="filters-form__body">
                <mat-form-field appearance="outline">
                    <mat-label>Form Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option>All</mat-option>
                        <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" multiple>
                        <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branch" multiple>
                        <mat-optgroup *ngFor="let group of branchGroups" [label]="group.branchCategory">
                            <mat-option *ngFor="let branch of group.branches" [value]="branch">
                                {{branch}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>From</mat-label>
                    <input [matDatepicker]="fromDatePicker"
                           [max]="maxDate"
                           formControlName="fromDateValue"
                           matInput>
                    <mat-datepicker-toggle [for]="fromDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input [matDatepicker]="toDatePicker"
                           [max]="maxDate"
                           formControlName="toDateValue"
                           matInput>
                    <mat-datepicker-toggle [for]="toDatePicker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #toDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Approver Email</mat-label>
                    <input formControlName="approver" matInput type="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field class="mat-icon__big" appearance="outline">
                    <mat-label>Vehicle Registration</mat-label>
                    <input formControlName="registration" matInput type="email">
                    <mat-icon matSuffix>manage_search</mat-icon>
                </mat-form-field>
                <mat-checkbox formControlName="myForms" color="primary">
                    My Submitted
                </mat-checkbox>
                <div class="button-wrapper">
                    <button class="button" color="primary" mat-flat-button type="submit">
                        Apply
                    </button>
                </div>
            </div>
        </mat-card-content>
        <div class="filters-form__mobile-footer mobile-show">
            <button color="primary" type="button" class="button button--primary" mat-button (click)="resetFilters()">
                Clear Filters
            </button>
        </div>
    </form>
</mat-card>
