@import "../../../../../includes/variables";

.card-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.card-content__header {
  display: block;
}

.card-content__text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card .mat-divider-horizontal {
  position: unset;
}

.request-controls {
  display: flex;
  justify-content: flex-end;
  margin-right: -4px;
  margin-left: -4px;
  & > * {
    margin-left: 4px;
    margin-right: 4px;
    width: 100%;
  }
}

mat-card-footer {
  margin: 0;
  display: flex;
  button + button { margin-left: 15px; }
}

.request-tabs {
  ::ng-deep {
    .mat-tab-label {
      width: 50%;
    }
  }

}

@media (min-width: 768px) {
  .request-tabs {
    ::ng-deep {
      .mat-tab-label {
        width: auto;
      }
    }

  }

  .pt-custom { padding-bottom: 36px; }

  .request-controls {
    margin-right: -12px;
    margin-left: -12px;
    & > * {
      margin-left: 12px;
      margin-right: 12px;
      width: auto;
    }
  }

}


.request-wrapper {
  padding: 24px 0 42px;
}

app-non-compliant-answer + app-non-compliant-answer {
  padding-top: 23px;
}

app-non-compliant-answer:last-of-type {
  ::ng-deep {
    .compliant-answer__actions {
      border-bottom: none;
    }
  }
}

.card--modern {
  padding-right: 0;
}

.mat-card-title + .mat-card-content { margin-top: 30px; }

.request-detailed__top + * { margin-top: 30px; }

* + .critical-action-content { margin-top: 25px; }

.request-detailed__top-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.request-detailed__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  .mat-standard-chip {
    border-radius: 4px;
  }

  .mat-chip-list {
    position: absolute;
    top: 0;
    right: 0;
  }

  mat-card-title {
    margin: 25px 0 0;
  }
}

.request-detailed__edit-button {
  font-size: 12px;
  padding: 0 10px;
  line-height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.request-detailed__labels {
  .mat-standard-chip {
    justify-content: center;
    flex-grow: 1;
  }
}

@media (min-width: 576px) {
  .request-detailed__top-line {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: flex-start;
  }

  .request-detailed__header {
    .mat-chip-list {
      position: static;
    }

    mat-card-title {
      margin: 0;
    }
  }

  .request-detailed__labels {
    .mat-standard-chip {
      justify-content: flex-start;
      flex-grow: unset;
    }
  }
}

@media (min-width: 992px) {
  .request-detailed__header {
    align-items: center;
    flex-direction: row;

    .mat-standard-chip {
      border-radius: 16px;
    }

    * + .mat-chip-list { margin-left: 10px }
  }

  .request-detailed__top-line {
    align-items: center;
  }

  .request-detailed__edit-button {
    font-size: 14px;
    padding: 0 16px;
    line-height: 36px;
    position: static;
  }
}
