<mat-tab-group  *ngIf="selectedRequest" class="request-tabs" dynamicHeight>
  <mat-tab label="Request">
    <div class="request-wrapper">
      <div class="container container--md">
        <div class="row row-16 justify-content-center">
          <div class="col-12">
            <!-- Request Details Card -->
            <mat-card class="mat-card-classic pt-custom position-relative">
              <div class="request-detailed__top">
                <div class="request-detailed__top-line">
                  <div class="request-detailed__header">
                    <mat-card-title class="mb-0">Request Details</mat-card-title>
                  </div>
                  <button mat-raised-button color="primary"
                          *ngIf="isAllowedToChangeApprover()"
                          class="button button--expressed request-detailed__edit-button"
                          (click)="handleChangeApproverModal()">
                    Edit Approver
                  </button>
                </div>
                  <mat-chip-list class="request-detailed__labels" aria-label="Fish selection">
                      <mat-chip
                              *ngIf="selectedRequest?.requestDetails?.formType"
                              color="primary"
                              selected>
                          {{ selectedRequest?.requestDetails?.formType }}
                      </mat-chip>
                      <mat-chip *ngIf="selectedRequest.formDetails?.generalDetails?.supervisedInspection" color="accent" selected>Supervised Inspection</mat-chip>
                  </mat-chip-list>
              </div>
              <mat-card-content>
                <!-- Enter Card Details here -->
                <div class="row row-16 row-md-24">
                  <div class="col-md-6">
                    <span class="card-content__header">Status</span>
                    <span
                      class="card-content__text"
                      [ngClass]="{'color--success': selectedRequest.status === 'Approved', 'color--secondary' : selectedRequest.status === 'Declined', 'color--primary' : selectedRequest.status === 'New' }"
                    >{{ selectedRequest.status }}</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-content__header">Owner</span>
                    <span class="card-content__text">{{ selectedRequest?.requestDetails?.owner }}</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-content__header">Approver</span>
                    <span class="card-content__text">{{ selectedRequest?.requestDetails?.approver }}</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-content__header">Created On</span>
                    <span class="card-content__text">{{ selectedRequest?.requestDetails?.createdOn | localDate }}</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-content__header">Division</span>
                    <span class="card-content__text">{{ selectedRequest?.requestDetails?.division | titlecase }}</span>
                  </div>
                  <div class="col-md-6">
                    <span class="card-content__header">Branch</span>
                    <span class="card-content__text">{{ selectedRequest?.requestDetails?.branchName }}</span>
                  </div>
                </div>

              </mat-card-content>

            </mat-card>
          </div>
          <div class="col-12">
            <mat-card class="mat-card--line">
              <div>
                <mat-card-title>Critical Actions</mat-card-title>
                <mat-card-subtitle *ngIf="isYourRequest(selectedRequest?.requestDetails?.approver)" class="text--secondary">*Please, check all issues, before submit or decline
                  request!
                </mat-card-subtitle>
                <mat-card-subtitle *ngIf="!selectedRequest.criticalActions.length">
                  <h6 class="text--regular">There are no critical actions in request *</h6>
                </mat-card-subtitle>
              </div>
              <mat-card-content *ngIf="selectedRequest.criticalActions.length" class="critical-action-content">
                <app-non-compliant-answer
                  *ngFor="let actionData of selectedRequest?.criticalActions"
                  [actionData]="actionData"
                  [owner]="selectedRequest.requestDetails?.owner"
                  [requestId]="selectedRequest.id"
                  [isYourRequest]="isYourRequest(selectedRequest?.requestDetails?.approver)"
                  (duplicateHandler)="handleDuplicateModal($event)"
                  (criticalHandler)="handleAddingToCriticalList($event)">
                </app-non-compliant-answer>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12">
            <!-- Request Comments Card -->
            <app-comments
              [comments]="selectedRequest?.comments"
              (newComment)="onNewComment($event)">
            </app-comments>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <div class="request-controls"
                 *ngIf="isYourRequest(selectedRequest?.requestDetails?.approver) && isAllActionsChecked(selectedRequest?.criticalActions) && isNewRequest(selectedRequest.status)">
              <!-- Request Actions Card -->
              <button mat-raised-button color="warn"
                      class="button button--default button--wide"
                      (click)="handleDeclineModal()"
                      [disabled]="isAllowedToChangeStatus(selectedRequest?.status, selectedRequest?.requestDetails?.approver)">
                Decline
              </button>
              <button mat-raised-button color="primary"
                      class="button button--default button--wide"
                      (click)="handleApproveModal()"
                      [disabled]="isAllowedToChangeStatus(selectedRequest?.status, selectedRequest?.requestDetails?.approver)">
                Approve
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="View Form">
    <app-request-form-view [formDetails]="selectedRequest?.formDetails"></app-request-form-view>
  </mat-tab>
</mat-tab-group>
