@import "~src/includes/variables";

.comment {
  background-color: #E0EFF8;
  border-radius: 4px;
  padding: 16px;
  &__title {
    letter-spacing: 0.5px;
    font-weight: 400;
  }
  &__date {
    color: rgba(#0E202F, .54);
  }
  &__owner {
    color: rgba(#0E202F, .54);
  }
}

.comment + .comment { margin-top: 10px; }

* + .comment__owner { margin-top: 5px; }


.comment--system {
  background-color: $pink-light;
}

.speech-bubble-first {
  background-color: lightgrey;
}

.comments-container {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  margin-bottom: 8px;
}

.comments-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mat-card-title + .mat-card-content { margin-top: 30px; }


