<mat-card class="mat-card-classic">
  <mat-card-title>Comments</mat-card-title>
  <mat-card-content>
    <div class="comments-container" #commentBox>
      <div *ngFor="let comment of comments" class="comment" [ngClass]="{'comment--system': comment.owner === 'System'}">
        <h6 class="comment__title">
          {{ comment.comment }}
        </h6>
        <p class="comment__owner">{{ comment?.owner }}</p>
        <p class="comment__date">{{ comment.date?.toDate().toLocaleString() }}</p>
      </div>
      <span *ngIf="comments.length === 0" style="color: red;">There are no comments on this request.</span>
    </div>
    <mat-form-field class="field-wrapper-custom" style="width: 100%; padding-bottom: 0" appearance="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput style="width: 100%; height: 85px" #newCommentInput></textarea>
    </mat-form-field>
  </mat-card-content>
  <div class="d-flex justify-content-end">
    <button class="button button--default button--big" mat-raised-button color="primary" [disabled]="!newCommentInput.value" (click)="openDialog()">Add comment</button>
  </div>
</mat-card>



