@import "~src/includes/variables";

:host {
  position: relative;
  color: #fff;
}

.user {
  &__wrapper {
    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__title {
    font-size: 16px;
    margin-right: 16px;
    letter-spacing: -.02em;
  }
  &__image {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  &__menu {
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translate(0, 100%);
    z-index: 2;
  }
}

.dropdown-menu {
  background: white;
  color: $gray-base;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.1);
  border-radius: 4px;
  overflow: hidden;
  &__list {
    padding: 0;
    list-style: none;
    font-size: 16px;
  }
  &__list-item {

  }
  &__link {
    display: block;
    padding: 15px 45px;
    cursor: pointer;
    color: $gray-base;
    transition: .33s all ease-in-out;
    line-height: 1em;
    &:hover {
      background: $gray;
      //color: #fff;
    }
  }
}

