<div *ngIf="currentUser | async as user" (clickOutside)="closeMenu()">
  <div class="user__wrapper">
    <span class="user__title">Hello, <span class="text--bold">{{user.displayName}}</span>!</span>
    <div (click)="toggleMenu()">
      <img [src]="user.photoURL" [alt]="user.displayName" class="user__image">
    </div>
  </div>
  <div class="user__menu dropdown-menu" *ngIf="isOpen">
    <ul class="dropdown-menu__list">
      <li class="dropdown-menu__list-item">
        <a class="dropdown-menu__link" (click)="closeMenu()" [routerLink]="['/dashboard/profile']">Settings</a>
      </li>
      <li class="dropdown-menu__list-item">
        <a class="dropdown-menu__link" (click)="onClick.emit()">Sign Out</a>
      </li>
    </ul>
  </div>
</div>
