<div class="container container--lg">
  <div class="row">
    <div class="col-12">
      <div class="card-container" *ngIf="formDetails">
        <div class="buttons-container buttons-container--center buttons-container--lg-right">
          <button color="primary" class="button button--default" mat-raised-button (click)="toggleAccordion()">{{accordionState ? 'Hide All' : 'Show All'}}</button>
        </div>
        <mat-card class="mat-card-custom mat-card-classic">
          <mat-card-title class="mat-card-custom__title">General Details</mat-card-title>
          <mat-card-content>
            <div class="row row-26">
              <div class="col-sm-6 col-lg-4">
                <div class="form-view__field">
                  <span class="card-content__header">Inspection Date</span>
                  <span class="card-content__text">{{ formDetails.generalDetails.inspectionDate | localDate }}</span>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="form-view__field">
                  <span class="card-content__header">Form Type</span>
                  <span class="card-content__text">{{ formDetails.generalDetails.formType }}</span>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="form-view__field">
                  <span class="card-content__header">Driver</span>
                  <span class="card-content__text">{{ formDetails.generalDetails.driver }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-accordion class="accordion-details" multi style="width: 100%">
          <mat-expansion-panel *ngFor="let form of formDetails.mainFields">
            <mat-expansion-panel-header>
              <mat-card-title><h6>{{form.category}}</h6></mat-card-title>
            </mat-expansion-panel-header>
            <mat-card-content>
              <div class="form-view__expandable">
                <div class="row row-16">
                  <div class="col-sm-6 col-lg-3" *ngFor="let field of form.values">
                    <div class="form-view__field">
                      <span class="card-content__header">{{field.label}}</span>
                      <span *ngIf="field.type === 'date'" class="card-content__text">{{ field?.value | localDate }}</span>
                      <span *ngIf="!(field.type === 'date')" class="card-content__text">{{ field?.value | titlecase }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
