:host {
  display: block;
  padding: 24px 0;
}

.card-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
}

mat-expansion-panel {
  width: 100%;
  .mat-card-title {
    margin-bottom: 0;
    font-size: 18px;
  }
}


@media (min-width: 768px) {

  mat-expansion-panel {
    .mat-card-title {
      font-size: 24px;
    }
  }
}

.mat-card-custom {
  width: 100%;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  &__title {
    & + * { margin-top: 15px; }
  }
}

.form-view__expandable {
  padding-top: 10px;
}

@media (min-width: 576px) {
  .mat-card-custom {
    &__title {
      & + * { margin-top: 38px; }
    }
  }
  .form-view__expandable {
    padding-top: 24px;
  }
}

.accordion-details {
  display: flex;
  flex-direction: column;
}
